/* header*/
header h1 {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 0.2rem;
    justify-content: center;
    color: #6A67CE;
    font-family: 'Anton', sans-serif;
    letter-spacing: 10px;
    word-spacing: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
}