.home-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-image {
    width: auto;
    min-height: auto;
    margin-bottom: 1.2rem;
}

h1 {
    align-self: center;
    color: #947EC3;
    margin-bottom: 2rem;
    font-weight: 800;
    text-align: center;
}


@media (max-width: 1170px) {
    /* .success-image {
        width: 40%;
        min-height: 50%;
        margin-bottom: 1.2rem;
    } */

}