form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 2rem; */
}

p,
input,
span {
    color: #B689C0;
    font-weight: light 300;
    /* width: 20rem; */
}

span {
    font-weight: 500;
}

form h1 {
    align-self: center;
    margin-bottom: 2rem;
    font-weight: 800;
}

input {
    border-radius: 7px;
    height: 2rem;
    font-weight: light 300;
    background-color: white;
    height: 2.5rem;
    border: none;
}

input[type="text"],
input[type="password"],
select {
    width: 27rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

p {
    width: 27rem;
}

select {
    border: none;
    color: #B689C0;
    padding: 0.5rem 1.5rem;
    font-weight: light 300;
    border-radius: 7px;
    font-weight: light 300;
    background-color: #EEF3D2;
    cursor: pointer;
}

input[type="checkbox"] {
    height: 1rem;
}

form>* {}

.icon {
    position: relative;
}

.icon i {
    position: absolute;
    right: 15px;
    top: 12px;
    bottom: 0px;
    color: #242F9B;
}

p {
    margin-bottom: 0.4rem;
    font-size: 0.85rem;
}

i {
    color: #4BB543;
    font-size: 1.2rem;

}

form button {
    background-color: #6A67CE;
    padding: 1rem 4rem;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 7px;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    margin-bottom: 2rem;
}

.main-container form {
    flex: 2 1 70%;
}

.main-container .hero-container {
    flex: 1 1 30%;
}

#termsAndCoLink:link,
#termsAndCoLink:visited,
#termsAndCoLink:hover,
#termsAndCoLink:active {
    color: black;
    text-decoration: underline;
}

.main-container .hero-container img {
    max-width: 650px;
    min-height: 450px;
    object-fit: contain;
}

.submit-message {
    font-weight: 800;
    color: #77536f;
    font-size: 1rem;
}

.signIn-message {
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
}

.doMarginBottom {
    margin-bottom: 0.9rem;
}



@media (max-width: 1124px) {

    input[type="text"],
    input[type="password"],
    select,
    p {
        width: calc(100vw - 5rem);
    }
}