.success-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.success-image {
    width: max(30vw, 30vh);
    min-height: min(30vh, 30vw);
    margin-bottom: 1.2rem;
}

h1 {
    align-self: center;
    color: #947EC3;
    margin-bottom: 2rem;
    font-weight: 800;
}

.success-button {
    background-color: #6A67CE;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

@media (max-width: 1170px) {
    /* .success-image {
        width: 40%;
        min-height: 50%;
        margin-bottom: 1.2rem;
    } */

}