html {
  font-size: 1rem;
}

body {
  background-color: #DBDFFD;
  font-family: 'Bitter', serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}


@media (max-width: 1124px) {
  .main-container .hero-container {
    display: none;
  }

}